   <% @blagues.ea do |blague| %>

        <div>Nom : 
           <%= @blague.nom%>
        </div>

         <div>Contenue : 
           <%= @blague.contenue%>
        </div>

        <div>Publier par : 
           <%= @blague.auteur%>
        </div>
        <hr>
    
   <%end%>