<div> le nom de la blagues est le suivant :
</div>
<div>
 <h2><%= @blague.nom %></h2>
    <p>
    <%= @blague.contenue %>
    </p> 
</div>
<div>
   publier par :<p>
    <%= @blague.auteur %>
    </p> 
   
</div>
